body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
	padding-top: 20px;
    padding-bottom: 20px;
}

a {
	text-decoration: none !important;
}

.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.nav>li>a:focus, .nav>li>a:hover {
    /*text-decoration: none;*/
    background-color: white !important;
}

.products .col-lg-4{
    margin-bottom: 20px;
    text-align: center;
    width: 33.33333333%;
    float: left;
}

.products button .form-group{
    color: gray;
}

.cart {
	font-size: 22px;
}

.cart:hover {
	color: #fff;
    background-color: transparent;
}

.actions {
    text-align: center;
}

.price {
    display: inline-block;
}

.account-menu {
    height: 49px;
    font-size: 22px;
}

input[type=file] {
    width: 90px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Изменить';
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

